ion-content.puzzle,
ion-content.help{
  background: url('../img/irongrip.png');
  /*color: #f5f5f5;*/
}

.help h3{
  color: #f5f5f5;
}

.puzzle-field {
  position: absolute;
  /*top: 0;*/
  left: 0;
  /*bottom: 0;*/
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.puzzle-field .cell {
  position: relative;
  overflow: hidden;
  color: #555;
}

.puzzle-field .cell:before {
  background: url('../img/kindajean.png');
  content: "";
  display: block;
  padding-top: 100%;
}

.puzzle-field .cell.empty:before {
  background: url('../img/irongrip.png');
}

.puzzle-field .cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -10px;
  font-size: 28px;
}

.puzzle-field p.cell {
  margin: 0;
}